.mainMenu {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton {
  background: none;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.menuList {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.menuList li {
  cursor: pointer;
  margin-left: 20px;
  padding: 20px;
  font-weight: bold;
}

.menuList li:hover {
  background-color: #fff;
  color: #333;
  transition: background-color 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  border-radius: 4px;
}

@media (max-width: 630px) {
  .menuButton {
    display: block;
  }

  .menuList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
  }

  .menuList.open {
    display: flex;
  }

  .menuList li {
    padding: 0.5rem 1rem;
  }
}
